*{
	max-width: 1500px;
	margin: auto;
}

.flex{
	display:flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right:10%;
	background-color: aqua;
	
}
.flexItem{
	width:350px;
	
}

.time{
	display: table;
		position: relative;
		top:-70px;
		right:135px;
		padding: 3px;
		color: white;
		background: rgba(0, 0, 0, 0.5)no-repeat;
	

}	

img {
		width:100%;
		max-width: 350px;
		height:200px;
		margin-top: 10%;
		margin-bottom: 5%;
}
h1{
	text-align: center;
	

}
h2{
	margin-left: 11.5%;
	margin-top: 5%;
}
h3{
	width: 350px;
}
.line{
    width: 950px;
    height: 47px;
    border-bottom: 1.5px solid black;
    text-align: center;
}

